*/__pycache__/*
*/__pycache__/
__pycache__
insightface_func/models/antelope/*
coordinate_reg/model/*
arcface_model/backbone.pth
AdaptiveWingLoss/
AdaptiveWingLoss/AWL_detector/*
*.pyc
dataset/*
experiments/*
mae
extractor/arcface_model/backbone.pth
deep3D/models/pretrained_model/pretrained_model.pth
face-parsing*
.mat
current_model*
saved_models*
wandb*
wandb/
deep3D/BFM/*
deep3D/BFM/
images/*
examples/videos/