[submodule "AdaptiveWingLoss"]
	path = AdaptiveWingLoss
	url = https://github.com/NastyaMittseva/AdaptiveWingLoss
[submodule "face-parsing.PyTorch"]
	path = face-parsing.PyTorch
	url = https://github.com/zllrunning/face-parsing.PyTorch
