*/__pycache__/*
*/__pycache__/
.ipynb_checkpoints
__pycache__
examples/*
insightface_func/models/antelope/*
coordinate_reg/model/*
arcface_model/backbone.pth
arcface_model/backbone.pth.1
AdaptiveWingLoss/
mae/
AdaptiveWingLoss/AWL_detector/*
weights/*
*.pyc
ckpt/*.pth
dataset/*
experiments/*
mae
extractor/arcface_model/backbone.pth
deep3D/models/pretrained_model/pretrained_model.pth
face-parsing*
.mat
current_model*
saved_models*
wandb*
wandb/
deep3D/BFM/*
deep3D/BFM/
images/*