*/__pycache__/*
*/__pycache__/
.ipynb_checkpoints
__pycache__
examples/*
insightface_func/models/antelope/*
coordinate_reg/model/*
arcface_model/backbone.pth
arcface_model/backbone.pth.1
AdaptiveWingLoss/AWL_detector/*
weights/*
*.pyc
ckpt/*.pth
dataset/*
experiments/*
mae